[submodule "Php-Dinamic-QR"]
	path = Php-Dinamic-QR
	url = https://github.com/onur55-tr/Php-Dinamic-QR.git
[submodule "Limon-E-Ticaret"]
	path = Limon-E-Ticaret
	url = https://github.com/onur55-tr/Limon-E-Ticaret
[submodule "Social-Blog-Script"]
	path = Social-Blog-Script
	url = https://github.com/onur55-tr/Social-Blog-Script
[submodule "Zone-Web"]
	path = Zone-Web
	url = https://github.com/onur55-tr/Zone-Web
[submodule "Web-Chat"]
	path = Web-Chat
	url = https://github.com/onur55-tr/Web-Chat
[submodule "Magento-E-ticaret"]
	path = Magento-E-ticaret
	url = https://github.com/onur55-tr/Magento-E-ticaret
